
#btn_form {
  background-color: #0094cf;
  color: white;
  margin-bottom: 2%;
}

#f-cad-med label, #f-edit-med label, #nome_med_edit {
  font-weight: bold;
  color: #004768;
}

#card {
  background-color: white;
  padding: 15px;
  
}

/*
#card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/
